extends layout

block content
  h1=post.title
  h2=post.name
  p=post.timestamp

  br
  p=post.content
  hr

  ul 
    a(href='/posts' + post.url + '/comments/create') Create Comment
    hr
    each comment in comments 
      a(href='/posts/' + comment.post + '/detail' + comment.url)
        h3=comment.name
      p=comment.timestamp 

      br
      p=comment.text
      hr

      a(href='/admin/' + comment.post + '/delete' + comment.url) Delete Comment
      a(href='/admin/' + comment.post + '/update' + comment.url) Update Comment